
local.properties
*.iml
.gradle
.idea
/app/build
/captures
.externalNativeBuild
.cxx

/notes
algo.md
newpipe*
# Signing keystore - NEVER COMMIT THIS FILE!
release.keystore
generate_key.ps1
generate_key.bat
*.txt
flow-website
svglogo
metro*
release.ps1
release.bat
